@import "../../css-config/mixins.scss";

.shop-by-text {
  width: 100%;
  background-color: rgb(68, 158, 158);
  padding: 20px 10px;

  .texts-cat {
    width: 100%;
    background-color: rgb(175, 79, 127);
    padding: 10px;

    .text-area {
      width: 100%;
      max-width: 800px;
      background-color: bisque;
      padding: 15px;
      margin: 0 auto;
    }
  }

  @include md {
    padding: 40px 20px;

    .texts-cat {
      padding: 20px;

      .text-area {
        width: 70%;
        height: auto;
      }
    }
  }
}
